@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Rock+Salt&display=swap');

* {
    box-sizing: border-box;
}
html {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Rock Salt', sans-serif;
    text-align: center;
    background-color: #00664e;
    color: white;
}

/* Rules style */

.rules-box {
    text-align: center;
    margin: 50px 150px;
    font-family: Arvo, sans-serif;
    background-color: #003d2f;
    padding: 10px 20px 20px 20px;
    border: 3px solid black;
    border-radius: 70px;
}
.quote {
    text-align: right;
    margin-bottom: 0;
    font-size: 0.7rem;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .rules-box {
        margin: 10px 20px;
    }
}

/* Options styling */

.wrapper {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.options-container {
    width: 150px;
    height: auto;
    margin: 10px;

    transition: 0.5s;

}
.options-container:hover {
    transform: scale(1.2);
}
.options-container button {
    border: none;
    background-color: #00664e;
}

img {
    max-width: 80%;
    border: 0;
}

/* score style */

#message {
    margin: 30px auto;
    width: 10rem;

}

.score-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    margin: 0 30px 100px 30px;
}

.reset {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #003d2f;
    border: none;
    color: white;
}